<h1><%= @event.name %> / 业务列表</h1>

<p class="text-right">
<%= link_to "新业务", new_admin_event_ticket_path(@event), :class => "btn btn-primary" %>
</p>

<table class="table">
<tr>
  <th>业务名称</th>
  <th>描述</th>
  <th>操作</th>
</tr>
<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.name %></td>
    <td><%= simple_format ticket.description %></td>
    <td>
      <%= link_to "Edit", edit_admin_event_ticket_path(@event, ticket), :class => "btn btn-default" %>
      <%= link_to "Delete", admin_event_ticket_path(@event, ticket), :method => "delete", :data => { :confirm => "Are you sure?" }, :class => "btn btn-danger" %>
  </tr>
<% end %>
</table>
